---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ColorScript from "../components/ColorScript.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { Content } from '../../etc/etc.md';
---

<!doctype html>
<html lang="en-us">
	<BaseHead title={`Etc - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<Content />
		</main>
		<Footer />
		<ColorScript />
	</body>
</html>