---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<header>
	<div class="header-section">
		<div class="header-frame">
			<div class="header-text">
				<h1>{SITE_TITLE}</h1>
				<h2>{SITE_DESCRIPTION}</h2>
			</div>
			<img src="/profile.png" alt="Profile Picture" class="profile-image" />
		</div>
	</div>
</header>
<nav>
	<HeaderLink href="/">home</HeaderLink>
	<HeaderLink href="/posts">posts</HeaderLink>
	<HeaderLink href="/proyectos">projects</HeaderLink>
	<HeaderLink href="/etc">etc</HeaderLink>
</nav>
<style>
	.header-frame {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 2rem;
	}
	.header-text {
		text-align: left;
		flex-grow: 1; /* Allow text block to take up available space */
	}
	.profile-image {
		width: 128px;
		height: 128px;
		border-radius: 50%;
		object-fit: cover;
		margin-left: 2rem; /* Add some space between text and image */
		flex-shrink: 0; /* Prevent image from shrinking */
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
